doctype html
html
	head
		title Write
		script(src="https://code.jquery.com/jquery-3.1.1.min.js")
		script(type="text/javascript")
			|	function update_post() {
			|		$.ajax({
			|			url: '/wiki',
			|			type: 'PUT',
			|			data: {title: $('#title').attr('value'), contents: $('#contents').val()},
			|			success: function() {location.href = '/wiki/' + $('#title').attr('value'); }
			|		});
			|	}
	body
		- if(method =='PUT')
			span 제목
			input#title(placeholder="제목을 입력하세요", name="title", value!= title, readonly) 
			br
			br
			span 내용
			textarea#contents(name="contents")!= contents
			br
			br
			button(onClick="update_post()") Submit
		- else
			form(action='/wiki', method='POST')
				span 제목
				input#title(placeholder="제목을 입력하세요", name="title") 
				br
				br
				span 내용
				textarea#contents(name="contents")
				br
				br
				input(type="submit")