doctype html
html
	head
		title Write
	body
		form(action="/write")
			span 제목
			input#title-input(placeholder="제목을 입력하세요") 
			br
			br
			span 내용
			textarea#contents
			br
			br
			input(type="submit")