mixin lists(items)
	each item in items
		li
			a(href="http://localhost:3000/threads/"+item.id)= item.title
extends layout

block head
		title= post_title
		link(rel='stylesheet',href='/stylesheets/discuss.css')
block body
		div#main
			h1 토론
		div#list
			p 항목
			ol
				+lists(threads)
